* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fde4ec;
}

/* HEADER */
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-radius: 20px;
  margin: 30px;
}

.header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* HERO */
.hero {
  background: #fff;
  margin: 30px;
  border-radius: 30px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXTO */
.hero-text {
  max-width: 40%;
}

.subtitle {
  letter-spacing: 2px;
  color: #777;
}

.hero-text h1 {
  font-size: 64px;
  color: #e94b7c;
}

.description {
  margin: 20px 0;
  color: #555;
}

button {
  background: #f48fb1;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* IMAGEM */
.hero-image img {
  width: 450px;
}
