{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/update_genero.css') }}">
{% endblock head %}

{% block content %}

    {% include "components/flash.html" %}
<div class="container mt-5">
    <h2 class="mb-4">Editar Gênero</h2>

    <form action="{{ url_for('genero.update_genero', genero_id=genero.ID_genero) }}" method="POST">

        <div class="mb-3">
            <label for="nome_genero" class="form-label">Nome do Gênero</label>
            <input 
                type="text" 
                class="form-control"
                id="nome_genero"
                name="nome_genero"
                value="{{ genero.Nome_genero }}"
                required
            >
        </div>

        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{{ url_for('genero.view_generos') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}
