<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Empréstimos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  {% include "components/navbar_add.html" %}

  <div class="p-4 container">
    <h1>Empréstimos</h1>

    <a class="btn btn-primary mb-3" href="{{ url_for('emprestimo.add_emprestimo') }}">Novo Empréstimo</a>

    {% if emprestimos %}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Livro</th>
            <th>Usuário</th>
            <th>Data Empréstimo</th>
            <th>Data Devolução Prevista</th>
          </tr>
        </thead>
        <tbody>
          {% for emp in emprestimos %}
          <tr>
            <td>{{ emp.livro.titulo }}</td>
            <td>{{ emp.usuario.nome }}</td>
            <td>{{ emp.Data_emprestimo }}</td>
            <td>{{ emp.Data_devolucao_prevista or '—' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Nenhum empréstimo cadastrado.</p>
    {% endif %}
  </div>

</body>
</html>
